.main {

}

.calendarWrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 5px;
}

.controler{
    display: flex;
    justify-content: space-between;
}

.currentMonth{
    display: flex;
}


.scheduleWrapper {
    display: flex;
    border: 1px solid red;
    flex-direction:column;
}
.scheduleDate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.monthWrapper{
    margin-top: 5px;
    display: flex; 
    flex-direction: column;
}

.weekWrapper{
    display: flex;
    flex-direction: row;
}

.day {
    width: 35px;
    user-select: none;
}

.avaib {
    display:flex;
    flex-direction:column;
    text-align: center;
    padding: 4px;
}

.notAvaib{
    background-color: red;
}